/* Font family */
@font-face {
    font-family: avenirNext;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: avenirNext;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}

/* BODY STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: avenirNext;
}
hr.sidebar-hr{
    border-top: 0.1px solid #eaeaea;
    border-bottom: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #eaeaea;
    padding: 0 2rem 0 2rem;
}
#nav-left{
    display: flex;
    align-items: center;
}
#logo-container{
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
}
#logo-container img{
    width: 50%;
}
#nav-right{
    width: 50px;
}
#nav-right img{
    width: 50%;
}
main{
    display: flex;
    flex-direction: row;
}
#side-bar{
    width: 18rem;
    height: Calc(100vh - 100px);
    box-shadow: 10px 0 30px -2px #52525213;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#side-bar>div{
    border-bottom: 1px solid #eaeaea;
    padding: 0 0 0 2rem;
    font-size: .85rem;
}
#side-bar div p{
    font-weight: 600;
    margin: 1rem 0 2rem 0;
}
#side-bar ul{
    margin: 0 0 1rem 0;
}
#side-bar ul li{
    margin: .5rem .5rem .5rem 0;
}

#main-page{
    padding: 0 0 0 20rem;
}