/* Font family */
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumRegular.otf);
    font-weight: normal;
}
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumMedium.otf);
    font-weight: bold;
}
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumBold.otf);
    font-weight: 900;
}

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    font-family: diodrum;
    font-weight: normal;
}
hr.sidebar-hr{
    border-top: 0.1px solid #eaeaea;
    border-bottom: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Links */
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #65C100;
}
/* BODY STYLES */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid #eaeaea;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 2;
}
#nav-left{
    display: flex;
    align-items: center;
    margin: 0 0 0 2rem;
}
#quidax-book{
    font-weight: bold;
}
#logo-container{
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
}
#logo-container img{
    width: 50%;
}
#nav-right{
    width: 50px;
    margin: 0 2rem 0 0;
}
#nav-right img{
    width: 50%;
}

#admin-title{
    color: #B5B5B5;
    font-size: .75rem;
}

#side-bar{
    width: 20rem;
    height: Calc(100vh - 100px);
    box-shadow: 10px 0 30px -2px #52525213;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0 0 0;
    z-index: 2;
    background-color: #fff;
    overflow: auto;
}
#pages,
#explore,
#my-books,
#admin-panel{
    border-bottom: 1px solid #eaeaea;
    padding: 0 2rem 0 2rem;
    font-size: .85rem;
}
#pages p,
#explore p,
#my-books p,
#admin-panel p{
    font-weight: 900;
    margin: 1rem 0 2rem 0;
}
#side-bar ul{
    margin: 0 0 1rem 0;
}
#side-bar ul li{
    margin: .5rem .5rem .5rem 0;
}
#notifications{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#notifications span{
    background-color: #65C100;
    width: 1.5rem;
    height: 1rem;
    border-radius: 0.75rem;
    color: #fff;
}
.active-link{
    color: #65C100;
}
#search-div form{
    display: flex;
}
#search-div #search-icon{
    height: 2.5rem;
    width: 2.5rem;
    border:1px solid #DDDDDD;
    border-left: 0;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-input{
    height: 2.5rem;
    width: 40vw;
    border: 1px solid #DDDDDD;
    padding: 0 10px 0 10px;
}
#search-results{
    width: 40vw;
    position: fixed;
    background-color: #fff;
    font-size: .9rem;
    padding: 0 10px 0 10px;
}
.rendered-search{
    display: flex;
}
.rendered-search p{
    margin: .5rem 0 .5rem .25rem;
}
.rendered-search span{
    color: #919191;
}
/* Main page styles */
#main-page{
    padding: 110px 0 0 20rem;
    font-size: .9rem;
}
.section-headers{
    letter-spacing: 2px;
    margin: 2rem 2rem 1rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDDDDD;
}
/* ALL BOOKS SECTION */

#recently-added, #all-books {
    margin: 0 2rem 0 2rem;
}
#carousel{
    padding: 1rem 0 0 0;
}
.carousel-cell{
    margin: 0 1rem 1rem 0;
}
.carousel-cell>div{
    margin: 0 1rem 1rem 0;
}
.carousel-cell{
    width:213px;
    height: 320px;
    box-shadow: 0 10px 6px -6px #777;
}
.carousel-images{
    width: 100%;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: .75rem;
    color: #fff;
    background: rgb(84,84,84);
    background: linear-gradient(180deg, rgba(84,84,84,.4) 0%, rgba(2,2,2,.9) 60%, rgba(0,0,0,1) .9%);
}
.carousel-background>div, .carousel-background>p{
    margin: 0 0 20px 15px;
}

.carousel-images .carousel-background{
    visibility: hidden;
}
.carousel-images:hover .carousel-background{
    visibility: visible;
}

#recently-added, #all-books{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.all-books-section{
    display: flex;
    margin: .5rem 1rem .5rem 0;
    width: 18rem;
    height: 150px;
}   
.all-books-section:hover{
    animation: hoverAnimation 1s ease-out alternate forwards;
}
@keyframes hoverAnimation{
    100%{
        box-shadow: 10px 10px 30px 10px #52525213;
    }
}


.book-info{
    margin: 1rem 0 0 .5rem;
    font-size: .75rem;
}
.book-image img{
    width: 100px;
    height: 100%;
}
.available-book{
    color: #65C100;
    font-size: 0.75rem;
}
.unavailable-book{
    color: red;
    font-size: 0.75rem;
}
.book-title{
    font-weight: 900;
    font-size: 1rem;
}
.ratings-section{
    margin: 1rem 0 0 0;
    display: flex;
}
.ratings-section-ratings{
    border-right: 1px solid #DDDDDD;
    padding: 0 .5rem 0 0
}
.ratings-section-likes{
    display: flex;
    margin: 0 0 0 .5rem;
}
.ratings-section-likes div{
    margin: 0 .5rem 0 0;
}
.fa-star{
    color: #EBA430;
}
.empty{
    color: #DDDDDD;
}
#mobile-logo{
    display: none;
}

/* MOBILE VIEW */
@media (max-width: 600px){
    /* components that should be hidden in mobile view */
    #quidax-book, 
    #admin-title, 
    #search-input, 
    #side-bar,
    #carousel-section > p{
        display: none;
    }
    nav{
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        width: 100vw;
        height: 80px;
        border-bottom: 1px solid #eaeaea;
        background-color:#fff;
        position: fixed;
        z-index: 2;
    }
    #main-page{
        padding: 100px 0 0 0;
        font-size: 1rem;
    }
    #carousel{
        width: 100vw;
    }
    .carousel-cell{
        max-width: 150px;
        height: 225px;
    }
    .carousel-images{
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 6px -6px #777;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* hamburger menu */
    #side-bar{
    width: 18rem;
    height: 100vh;
    box-shadow: 10px 0 30px -2px #52525213;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    }
    #mobile-logo{
        display: flex;
        align-items: center;
        margin: 0 0 0 2rem;
    }
    #mobile-quidax-book{
        font-weight: bold;
    }
    #mobile-admin-title{
        color: #B5B5B5;
        font-size: .75rem;
    }
}