/* Font family */
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumRegular.otf);
    font-weight: normal;
}
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumMedium.otf);
    font-weight: bold;
}
@font-face {
    font-family: diodrum;
    src: url(../fonts/DiodrumBold.otf);
    font-weight: 900;
}

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    font-family: diodrum;
    font-weight: normal;
}
hr.sidebar-hr{
    border-top: 0.1px solid #eaeaea;
    border-bottom: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Links */
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #65C100;
}
/* BODY STYLES */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid #eaeaea;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 3;
}
#nav-left{
    display: flex;
    align-items: center;
    margin: 0 0 0 2rem;
}
#quidax-book{
    font-weight: bold;
}
#logo-container{
    display: flex;
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem 0 0;
}
#logo-container img{
    width: 50%;
}
#nav-right{
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
}
#books-icon{
    width: 25px;
}

#admin-title{
    color: #B5B5B5;
    font-size: .75rem;
}

.menu{
    width: 20rem;
    height: Calc(100vh - 100px);
    box-shadow: 10px 0 30px -2px #52525213;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0 0 0;
    z-index: 2;
    background-color: #fff;
    overflow: auto;
}
#pages,
#explore,
#my-books{
    border-bottom: 1px solid #eaeaea;
    padding: 0 2rem 0 2rem;
    font-size: .85rem;
}

#admin-panel{
    padding: 0 2rem 0 2rem;
    font-size: .85rem;
}   
#pages p,
#explore p,
#my-books p,
#admin-panel p{
    font-weight: 900;
    margin: 1rem 0 2rem 0;
}
.menu ul{
    margin: 0 0 1rem 0;
}
.menu ul li{
    margin: .5rem .5rem .5rem 0;
}
.notifications{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.notifications span{
    font-size: .75rem;
    color:#999999;
}
.notification-badges{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.notification-badges span{
    background-color: #65C100;
    width: 1.5rem;
    height: 1rem;
    border-radius: 0.75rem;
    color: #fff;
}


.active-link{
    color: #65C100;
}
#search-div form>div{
    display: flex;
}

#search-input{
    height: 2.5rem;
    width: 40vw;
    border: 1px solid #DDDDDD;
    padding: 0 10px 0 10px;
}
#search-icon{
    height: 2.5rem;
    width: 2.5rem;
    border:1px solid #DDDDDD;
    border-left: 0;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-results{
    width: 40vw;
    position: fixed;
    background-color: #fff;
    font-size: .9rem;
    padding: 0 10px 0 10px;
}
.rendered-search{
    display: flex;
}
.rendered-search p{
    margin: .5rem 0 .5rem .25rem;
}
.rendered-search span{
    color: #919191;
}
/* Main page styles */
#main-page{
    padding: 110px 0 0 20rem;
    font-size: .9rem;
    margin-bottom: 2rem;
}
.section-headers{
    letter-spacing: 2px;
    margin: 2rem 2rem 1rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDDDDD;
}
/* ALL BOOKS SECTION */

#recently-added, #all-books {
    margin: 0 2rem 0 2rem;
}
#carousel{
    padding: 1rem 0 0 0;
}
.carousel-cell{
    margin: 0 1rem 1rem 0;
}
.carousel-cell>div{
    margin: 0 1rem 1rem 0;
}
.carousel-cell{
    width:213px;
    height: 320px;
    box-shadow: 0 10px 6px -6px #777;
}
.carousel-images{
    width: 100%;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-background{
    width: 100%;
    height: 100%;
    display: fixed;
}
.carousel-background .info-toggler{
    visibility: hidden;
}
.carousel-info{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: .75rem;
    color: #fff;
    background: rgb(84,84,84);
    background: linear-gradient(180deg, rgba(84,84,84,.4) 0%, rgba(2,2,2,.9) 60%, rgba(0,0,0,1) .9%);
}
.carousel-info>div, .carousel-info>p{
    margin: 0 0 1.5rem 1rem;
}

.carousel-images .carousel-info{
    opacity: 0;
    transition: all .4s ease;
}
.carousel-images:hover .carousel-info{
    opacity: 1;
}

#recently-added, #all-books{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.all-books-section{
    display: flex;
    margin: .5rem 1rem .5rem 0;
    width: 18rem;
    height: 150px;
    transition: all 0.5s ease;

}   
.all-books-section:hover{
    box-shadow: 10px 10px 30px 10px #52525213;
}


.book-info{
    margin: 1rem 0 0 .5rem;
    font-size: .75rem;
}
.book-image img{
    width: 100px;
    height: 100%;
}
.available-book{
    color: #65C100;
    font-size: 0.75rem;
}
.unavailable-book{
    color: red;
    font-size: 0.75rem;
}
.book-title{
    font-weight: 900;
    font-size: 1rem;
}
.ratings-section{
    margin: 1rem 0 0 0;
    display: flex;
}
.ratings-section-ratings{
    border-right: 1px solid #DDDDDD;
    padding: 0 .5rem 0 0
}
.ratings-section-likes{
    display: flex;
    margin: 0 0 0 .5rem;
}
.ratings-section-likes div{
    margin: 0 .5rem 0 0;
}
.fa-star{
    color: #EBA430;
}
.empty{
    color: #DDDDDD;
}
#mobile-logo, 
#mobile-search,
#toggler,
.mobile-icons,
.fa-arrow-left,
.bell-badge p{
    display: none;
}
/* LOADER ANIMATION */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
/* MOBILE VIEW */
@media (max-width: 600px){
    /* components that should be hidden in mobile view */
    #quidax-book, 
    #admin-title, 
    #carousel-section > p{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 80px;
        border-bottom: 1px solid #eaeaea;
        background-color:#fff;
        position: fixed;
        z-index: 2;
    }
    #search-div{
        position: fixed;
        width: 100vw;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid #eaeaea;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
    }
    #search-div form{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.5rem;
    }
    #search-div form>div>input{
        width: 50vw;
    }
    #search-div form>div{
        display: flex;
        align-items: center;
    }

    .fa-arrow-left{
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #search-results{
        width: 50vw;
        position: absolute;
        top: 60px;
        left: 94px;
        background-color: #fff;
        font-size: .9rem;
        padding: 0 10px 0 10px;
    }
    .rendered-search{
        display: flex;
    }
    .rendered-search p{
        margin: .5rem 0 .5rem .25rem;
    }
    .rendered-search span{
        color: #919191;
    }
    
    #main-page{
        padding: 100px 0 0 0;
        font-size: 1rem;
    }
    #carousel{
        width: 100vw;
    }
    .carousel-cell{
        max-width: 150px;
        height: 225px;
    }
    .carousel-images{
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 6px -6px #777;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-info>div, .carousel-info>p{
        margin: 0 0 .75rem .5rem;
        font-size: .65rem;
    }
    /* TOGGLE CAROUSEL INFORMATION  */

    
    .carousel-background .info-toggler{
        display: inline-block;
        position: absolute;
        top: 8%;
        left: 70%;
        z-index: 4;
        cursor: pointer;
        width: 35px;
        height: 35px;
        opacity: 0;
        visibility: visible;
    }
    .carousel-background .toggle-info{
        position: absolute;
        top: 8%;
        left: 70%;
        z-index: 3;
        background-color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-background .toggle-info >div {
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #999999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    /* TOP AND BOTTOM dots */
    .carousel-background .toggle-info>div:before,
    .carousel-background .toggle-info>div:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: -8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: inherit;
        transition: all 0.4s ease;
    }
    /* MOVES dot DOWN */
    .carousel-background .toggle-info>div:after{
        top: 8px;
    }

    .carousel-info{
        visibility: hidden;
    }
    .carousel-info p, .carousel-info div{
        opacity: 0;
    }

    /* ANIMATE THE TOGGLER */
    .carousel-background .info-toggler:checked + .toggle-info > div{
        transform: rotate(0);
    }
    .carousel-background .info-toggler:checked + .toggle-info > div:before,
    .carousel-background .info-toggler:checked + .toggle-info > div:after{
        top: 0;
        left: 0;
        width: 20px;
        height: 1.5px;
        border-radius: 0;
        transform: rotate(-90deg);
    }
    .carousel-background .info-toggler:checked + .toggle-info > div{
        top: 0;
        left: 0;
        width: 20px;
        height: 1.5px;
        border-radius: 0;
        transform: rotate(135deg);
    }

    /* SHOW INFO */
    .carousel-background .info-toggler:checked ~ .carousel-info{
        visibility: visible;
    }

    .carousel-background .info-toggler:checked ~ .carousel-info p,
    .carousel-background .info-toggler:checked ~ .carousel-info div{
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    

    /* hamburger menu */
    
    .menu{
        width: 18rem;
        height: 100vh;
        box-shadow: 10px 0 30px -2px #52525213;
        position: fixed;
        top:0;
        left:-18rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        background-color: #fff;
        margin: 0;
        overflow: auto;
        visibility: hidden;
        transition: all .6s ease;
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 200vw;
        height: 200vh;
        background-color: rgba(0,0,0,.8);
        z-index: 2;
        opacity: 0;
        transition: opacity .6s ease;
        visibility: hidden;
    }
    #side-bar-menu{
        padding: 75px 0 0 0;
    }
    #side-bar #toggler{
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        cursor: pointer;
        width: 50px;
        height: 40px;
        opacity: 0;
        margin: 1rem 1.5rem;
    }
    #side-bar .hamburger{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 40px;
        height: 40px;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #side-bar .hamburger >div {
        position: relative;
        width: 80%;
        height: 2px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    /* TOP AND BOTTOM LINES */
    #side-bar .hamburger >div:before,
    #side-bar .hamburger >div:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: -10px;
        width: 50%;
        height: 2px;
        background: inherit;
        transition: all 0.4s ease;
    }
    /* MOVES LINE DOWN */
    #side-bar .hamburger >div:after{
        top: 10px;
    }

    /* ANIMATE THE TOGGLER */
    #side-bar #toggler:checked + .hamburger > div{
        transform: rotate(0);
    }
    #side-bar #toggler:checked + .hamburger > div:before{
        top: -6px;
        transform: rotate(-45deg)
    }
    #side-bar #toggler:checked + .hamburger > div:after{
        top: 6px;
        transform: rotate(45deg);
    }

    /* EXPAND ON HOVER WHEN CHECKED */
    #side-bar #toggler:checked:hover + .hamburger > div{
        transform: scale(1.2)
    }

    /* SHOW MENU */
    #side-bar #toggler:checked ~ .menu{
       visibility: visible;
       left:0;
       transition: all .6s ease;
    }
    #side-bar #toggler:checked ~ .overlay{
        opacity: 1;
        visibility: visible;
        transition: opacity .6s ease;
    }


    #mobile-logo{
        display: flex;
        align-items: center;
        margin: 0 0 0 1.5rem;
    }
    #mobile-quidax-book{
        font-weight: bold;
    }
    #mobile-admin-title{
        color: #B5B5B5;
        font-size: .75rem;
    }
    .section-headers{
        letter-spacing: 2px;
        margin: 2rem 1.5rem 1rem 1.5rem;
        padding-bottom: 1rem;
    }
    #recently-added, #all-books {
        margin: 0 1.5rem 0 1.5rem;
    }
    
    #nav-right{
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: space-between;
        margin: 0 2rem 0 0;
        font-size: 1.25rem;
        font-size: 1.25rem;
    }

    .fa-bell-o, #mobile-search{
        display: inline-block;
    }
    .bell-badge{
        display: flex;
        height: 100%;
    }
    .bell-badge>p{
        display: inline-block;
        font-size: .75rem;
        position: relative;
        top: -10px;
        right: 10px;
        background-color: #65C100;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
    #mobile-search{
        cursor: pointer;
        vertical-align: middle;
    }
    #avatar{
        display: flex;
        width: 50px;
        border-radius: 50%;
        box-shadow: 10px 0 30px -2px #52525213;
    }

    #nav-left{
        margin: 0 0 0 1rem;
        padding-left: 60px;
    }

    /* TOP AND BOTTOM LINES */
    #nav-left .hamburger >div:before,
    #nav-left .hamburger >div:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: -10px;
        width: 50%;
        height: 2px;
        background: inherit;
        transition: all 0.4s ease;
    }
    #nav-left .hamburger >div:after {
        top: 10px;
    }

}